APP_NAME=peminjaman_service
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8003

DB_CONNECTION=pgsql
DB_HOST=db_peminjaman
DB_PORT=5432
DB_DATABASE=db_peminjaman
DB_USERNAME=peminjaman_admin
DB_PASSWORD=rahasia123

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=rahasia123
RABBITMQ_QUEUE=antrian_peminjaman
