APP_NAME=user_service
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8001

DB_CONNECTION=pgsql
DB_HOST=db_user
DB_PORT=5432
DB_DATABASE=db_user
DB_USERNAME=user_admin
DB_PASSWORD=rahasia123
